*
{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
header
{
    background-color: #eec540;
    height: 100px;
    width: 100%;
    display: flex;
    position: relative;
    
}
header ul{
    /*background-color: aqua;*/
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
}
header li{
    /*background-color: aliceblue;*/
    color:black;
    display: flex;
    align-items: center;
    gap: 10px;
}
header a{
    text-decoration: none;
    color:black;
}

header a:hover{
    text-decoration: underline;
    cursor: pointer;
}
header h1{
    position: absolute;
    left: 3vw;
    top:0px;
    top: 0;
    line-height: 100px;
}

nav{
    position: sticky;
    top:0;
    width: 100%;
    height:auto;
    background-color: rgb(4, 71, 49);
    z-index: 100;
}
.menu{
    position: relative;
}
.menu summary{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
}
.submenu{
    background-color: hsl(160, 91%, 18%);
    position: absolute;
    width:100%;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, opacity 0.2s ease;
}
.menu[open] .submenu {
    max-height: 100vh; 
    opacity: 1;
}
.menu[open] .submenu a{
    animation: bounce 0.2s ease-out;
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    75% {
        opacity: auto;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.submenu li a{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style: none;
    border-top: 1px solid gray;
    text-decoration: none;
    color: aliceblue;
}


section{
    padding: 1%;
}
@keyframes left-fade-in{
    0%{
        opacity: 0%;
        transform: translateX(-20%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0);
    }
}
@keyframes right-fade-in{
    0%{
        opacity: 0%;
        transform: translateX(20%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0);
    }
}
.開頭{
    background-color: rgb(252, 242, 216);
    height: auto;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
}
.開頭 .img{
    width: 50%;
    height: auto;
    animation: left-fade-in 0.5s ease-out 0.2s both;
}
.加大{
    font-size: 30px;
    font-weight: bold;
}
.文字{
    font-size: 17px;
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: left-fade-in 0.5s ease-out 0.2s both ;
}
.slogan
{
    font-size: 5vw;
    font-style: normal;
    font-weight: bolder;
    background: linear-gradient(transparent 60%, #eec540 60%);
}
.出發{
    background-color: #3a289c;
    height: fit-content;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    flex-direction: column;
    gap:20px;
}
.出發 .img{
    width: 70vw;
    height: auto;
    animation: right-fade-in 0.5s ease-out 0.4s both alternate;
}
.出發 a{
    color: white;
    text-decoration: none;
    border-radius: 5%;
    padding: 5px;
    border: 2px solid rgb(189, 189, 189);
    animation: right-fade-in 0.5s ease-out 0.4s both alternate;
}

footer{
    background-color: bisque;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding :2% 5px;
    gap: 5px;
}
kbd
{
    background-color: rgb(236, 236, 236);
    border-radius: 5%;
    padding: 5px;
    border: 2px solid rgb(189, 189, 189); 
}
.eat{
    color: rgb(0, 0, 0);
    padding: 4px 5px;
    border-radius: 10px;
}
.刪除線
{
    text-decoration: line-through;
}