*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
header{
    background-color: rgb(4,71,49);
    color: aliceblue;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
}
header h1{
    line-height: 100px;
    position: absolute;
    left: 5%;
}